<li class="media">
  <a class="pull-left" href="<%= url_for(card) %>">
    <img class="media-object" src="<%= card.image_url %>" width="128">
  </a>
  <div class="media-body">
    <h4 class="meda-heading"><%= card.name %></h4>
    <p><%= card.text %></p>
  </div>
</li>
