<%= form_tag({controller: 'cards', action: 'search'}, method: 'get', class: 'card-search-form') do %>
  <div class="ui fluid icon input">
    <%= text_field_tag(:q, @query, class: 'form-control') %>
    <i class="circular search icon"></i>
  </div>
<% end %>

<% if @cards %>
  <div class="ui items">
    <%= render(@cards) || "No matching cards found. Please try a different search." %>
  </div>
<% end %>
