<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MagicFactory</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="ui page padded grid">
      <div class="column">
        <h1 class="ui dividing header">
          <div class="content">
            <a href="/">Magic Factory</a>
            <div class="sub header">A place to search for <a href="http://www.wizards.com/Magic/">Magic the Gathering</a> cards. Search is powered by ElasticSearch and card data imported from <a href="http://mtgjson.com/">MTG JSON</a>.</div>
          </div>
        </h1>

        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
